<h2 class="heading">Comments</h2>
<div clas="form-group row">
    <form method="POST" class="comment-form" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>

{{ comments.count }} Comment{{ comments|pluralize }}
<br><br>

{%  for comment in comments %}
    <blockquote class="blockquote">
        <p class="mb-0"><small>{{ comment.content }}</small></p>
        <footer class="blockquote-footer"><small><cite title="Source Title">{{ comment.author|capfirst }}</cite></small>
            <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm" style="margin-left:10px;">View replies</button>
        </footer>
    </blockquote>

    <div class="replied-comments container mt-2" style="display: none">
        {% for reply in comment.replies.all %}
            <blockquote class="blockquote">
                <p class="mb-0"><small>{{ reply.content }}</small></p>
                <footer class="blockquote-footer"><small><cite title="Source Title">{{ reply.author|capfirst }}</cite></small></footer>
        </blockquote>
        {% endfor %}

        <div class="form-group row">
            <form method="POST" class="reply-form" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endfor %}
